/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.content-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  justify-self: stretch;
}

.footer {
  margin-top: auto;
}
